main {
    display: flex;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
    flex-direction: column;
}
.project-card {
    margin-bottom: 50px;
    border: 1px solid rgba(0, 0, 0, 0.365);
    border-radius: 3px;
   align-items: center;
    width: 100%;
    display: flex;
    
    padding: 5px;

 
    
}

#project-img{
    height: 100%;
    width: 400px;

}
#project-img img {
    height: 100%;


}
#project-details {
    margin-left: 15px;
}


