
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}
nav {
    display: flex;
    align-items: center; 
    height: 8vh;
    width: 100%;

}


#page-links ul{
    display: flex;
    list-style: none;
    margin-left: 125px;

}


#page-links ul a,#page-links ul li{
    color: white;
    text-decoration: none;
    margin-left: 15px;

}
.active{
   
    text-decoration: underline !important;
    transform: scale(1.2);
    
}
 #page-links ul li :hover{
    text-decoration: underline;
    transform: scale(1.1);
    color: #f55533;
    
}

#logo-container{
    display: flex;
   align-items: center;
    width: 30%;
    height: 95%;

}
#logo-container img {
    height: 100%;
}
footer,nav {
    background-color: #271A1A;
    color: white;
}
footer {
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
}
#icon-container i{
   margin-left: 10px;
   color: white;
}
#icon-container i:hover {
    color:#f55533;
    transform: scale(1.15);
    cursor: pointer;
}

main{
    display: flex;
   align-items: center;  
   
}

#left-section {
    height: 100%;
    width: 50%;
}
#left-section img{
   height: 100%;
   width: 100%;
   
}
#right-section {
    
    height: 100%;
    width: 50vw;
    text-align: center;
    align-content: center;
}